html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  background: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.main {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #24ABE0;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .intro {
    background-color: transparent;
  }
}

.intro__inner {
  width: 95%;
}

@media screen and (max-width: 767px) {
  .intro__inner {
    position: absolute;
    top: 41%;
  }
}

.intro__title {
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 110px;
  font-weight: 700;
  line-height: 1;
}

@media screen and (max-width: 1230px) {
  .intro__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 991px) {
  .intro__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 60px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.3);
  }
}

.intro__suptitle {
  margin-bottom: 20px;
  font-family: 'Caveat', cursive;
  font-size: 88px;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 1230px) {
  .intro__suptitle {
    font-size: 66px;
  }
}

@media screen and (max-width: 991px) {
  .intro__suptitle {
    font-size: 55px;
  }
}

@media screen and (max-width: 767px) {
  .intro__suptitle {
    font-size: 34px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.3);
  }
}

/* Intro footer */
.intro__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  border-top: 2px solid #FCE223;
}

@media screen and (max-width: 767px) {
  .intro__footer {
    display: none;
  }
}

.intro__footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .intro__footer__inner {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 991px) {
  .intro__footer-item {
    display: none;
  }
}

.intro__footer-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  position: relative;
  transition: color .2s ease;
}

.intro__footer-link svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
  transition: fill .2s ease;
}

.intro__footer-link:hover {
  color: #FCE223;
}

.intro__footer-link:hover svg {
  fill: #FCE223;
}

/* SLIDER */
.intro__slider {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

@media screen and (max-width: 767px) {
  .intro__slider {
    height: 100%;
  }
}

.intro__slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s linear;
}

.intro__slider-item-visible {
  opacity: 1;
}

.intro__slider-item-1 {
  background: url("../img/bg/bg-1.jpg") center/cover;
}

@media screen and (max-width: 767px) {
  .intro__slider-item-1 {
    background-position-x: 80%;
  }
}

.intro__slider-item-2 {
  background: url("../img/bg/bg-2.jpg") center/cover;
}

@media screen and (max-width: 767px) {
  .intro__slider-item-2 {
    background-position-x: 80%;
  }
}

.intro__slider-item-3 {
  background: url("../img/bg/bg-3.jpg") center/cover;
}

@media screen and (max-width: 767px) {
  .intro__slider-item-3 {
    background-position-x: 80%;
  }
}

.header {
  padding-top: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .3s ease;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 0;
  }
}

.header__active {
  background-color: rgba(14, 29, 40, 0.9);
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__logo {
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.3);
  }
}

.header__nav {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 60px 30px;
    position: fixed;
    top: 0;
    left: 0;
    background: #0E1D28;
    z-index: 1000;
    overflow: auto;
    transform: translateX(-100%);
    transition: all .3s ease;
  }
  .header__nav-active {
    transform: translateX(0);
  }
}

.header__nav-open {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__nav-open svg {
  fill: #fff;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .header__nav-open {
    display: block;
  }
}

.header__nav-close {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__nav-close svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

@media screen and (max-width: 767px) {
  .header__nav-close {
    display: block;
  }
}

.header__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .header__list {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    flex-direction: column;
  }
}

.header__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #24ABE0;
  text-decoration: none;
  transition: color .2s linear;
}

@media screen and (max-width: 991px) {
  .header__link {
    margin: 0 5px;
  }
}

@media screen and (max-width: 767px) {
  .header__link {
    margin: 0;
    margin-bottom: 5px;
    font-size: 22px;
  }
}

.header__link.active {
  color: #FCE223;
}

.header__link:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #FCE223;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .2s linear;
}

.header__link:hover:after, .header__link.active:after {
  opacity: 1;
}

.header__link:hover {
  color: #FCE223;
}

.header__text {
  display: none;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .header__text {
    display: block;
  }
}

.header__social {
  display: none;
  padding: 0;
  list-style: none;
}

.header__social-item {
  margin: 0;
}

.header__social-item svg {
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  width: 30px;
  height: 30px;
  fill: #fff;
}

.header__social-link {
  padding: 10px 0;
  display: block;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.header__social-link:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__social {
    display: flex;
    flex-direction: column;
  }
}

#nav-icon {
  display: none;
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #24ABE0;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 18px;
}

#nav-icon span:nth-child(3) {
  top: 36px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 5px 35px;
  cursor: pointer;
  border: 3px solid #CBF0FF;
  color: #24ABE0;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  transition: color .2s linear, background-color .2s linear;
}

@media screen and (max-width: 767px) {
  .btn {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}

.btn:hover {
  background-color: #24ABE0;
  color: #fff;
}

.section {
  padding: 80px 0;
  scroll-margin-top: 30px;
}

.section-img {
  background-image: url(../img/bg/bg-baloons.jpg);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section-grey {
  background-color: #f5f5f5;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
  text-align: center;
}

.section__suptitle {
  font-size: 24px;
  color: #333;
  font-family: 'Kaushan Script', cursive;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;
  background-color: #24ABE0;
}

.section__text {
  color: #999;
  font-size: 15px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards__item {
  position: relative;
  margin: 20px auto;
  padding: 15px;
  width: 31%;
  background: #CBF0FF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow;
  transition-duration: .33s;
  transition-timing-function: ease-out;
}

@media screen and (max-width: 991px) {
  .cards__item {
    width: 48%;
  }
}

@media screen and (max-width: 767px) {
  .cards__item {
    width: 98%;
  }
}

.cards__item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cards__header {
  margin-bottom: 15px;
  position: relative;
}

.cards__header:focus {
  outline: none;
}

.cards__img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.cards__price {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #24ABE0;
}

.cards__content {
  padding: 0 10px 10px;
  text-align: center;
}

.cards__title {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.cards__text {
  font-size: 15px;
  color: #333;
}

/* SLICK-SLIDER */
.cards__item-slider {
  position: relative;
}

.slick-arrow {
  padding: 10px;
  margin: 10px;
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  line-height: 0;
  max-width: 30px;
  height: 30px;
  border: 0;
}

.slick-arrow:focus {
  outline: none;
}

.slick-prev {
  left: 0;
  background: url("../img/arrows/chevron-left-solid.svg") 0 0/100% no-repeat;
  cursor: pointer;
}

.slick-next {
  right: 0;
  background: url("../img/arrows/chevron-right-solid.svg") 0 0/100% no-repeat;
  cursor: pointer;
}

.slick-initialized .slick-slide {
  outline: none;
}

.statistics {
  background-color: #24ABE0;
}

.stat {
  display: flex;
  flex-wrap: wrap;
}

.stat__item {
  width: 25%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  color: #fff;
  padding: 70px 25px;
}

@media screen and (max-width: 991px) {
  .stat__item {
    padding: 70px 5px;
  }
}

@media screen and (max-width: 767px) {
  .stat__item {
    width: 50%;
  }
}

.stat__count {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.advantages__item {
  width: 50%;
  padding: 0 45px 0 175px;
  position: relative;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .advantages__item {
    width: 100%;
    display: flex;
    margin-bottom: 0;
    padding: 20px;
  }
}

.advantages__photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .advantages__photo {
    position: static;
    margin-right: 20px;
  }
}

.clients__prof {
  font-size: 15px;
  color: #333;
  font-style: italic;
  font-weight: 300;
}

.advantages__text {
  font-size: 16px;
  /* color: #999; */
}

.advantages__text:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px 0;
  background-color: #24ABE0;
}

.action {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.action__item {
  width: 32%;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .action__item {
    width: 48%;
  }
}

.action__photo {
  margin-bottom: 15px;
}

.action__img {
  display: block;
  margin: 0 auto;
  width: 150px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #24ABE0;
}

.action__text {
  text-align: center;
  font-size: 15px;
  color: #999;
}

.map {
  text-align: center;
  color: #fff;
}

.map__text {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.3);
}

.reviews {
  position: relative;
}

.reviews .slick-slider {
  padding: 0 110px;
}

@media screen and (max-width: 767px) {
  .reviews .slick-slider {
    padding: 0px 40px;
  }
}

.reviews .slick-prev {
  background: url("../img/arrows/chevron-left-solid-black.svg") 0 0/100% no-repeat;
}

.reviews .slick-next {
  background: url("../img/arrows/chevron-right-solid-black.svg") 0 0/100% no-repeat;
}

.reviews__item {
  padding-left: 250px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .reviews__item {
    padding-left: 0;
  }
}

.reviews__photo {
  display: block;
  position: absolute;
  width: 210px;
  height: 210px;
  border: 2px solid #24ABE0;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .reviews__photo {
    margin: 0 auto;
    position: static;
  }
}

.reviews__inner {
  position: relative;
  min-height: 210px;
}

.reviews__text {
  margin-bottom: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: #333;
}

@media screen and (max-width: 767px) {
  .reviews__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .reviews__author {
    font-size: 20px;
  }
}

.smile {
  font-style: normal;
}

.sale {
  background-color: #fff;
}

.sale__inner {
  padding-top: 40px;
  text-align: center;
}

.sale__inner-text {
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  background-color: #f5f5f5;
  border-radius: 10px;
  color: #333;
  line-height: 2;
  font-size: 18px;
  font-weight: bold;
}

.sale__inner-text a {
  color: #24ABE0;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s linear;
}

.sale__inner-text a:hover {
  color: #FF0000;
}

.footer {
  padding-top: 50px;
  background-color: #fff;
  scroll-margin-top: 30px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-bottom: 65px;
}

@media screen and (max-width: 991px) {
  .footer__inner {
    padding-bottom: 20px;
  }
}

.footer__col {
  padding: 0 15px;
}

.footer__col-info {
  width: 60%;
}

@media screen and (max-width: 991px) {
  .footer__col-info {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
}

.footer__col-instagram {
  text-align: center;
  width: 40%;
}

@media screen and (max-width: 991px) {
  .footer__col-instagram {
    width: 100%;
    text-align: center;
  }
}

.footer__logo {
  color: #ccc;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer__text {
  margin-bottom: 30px;
  font-size: 18px;
  color: #333;
}

.footer__title {
  margin: 30px 0;
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
}

.footer__social-list {
  list-style: none;
  padding-left: 0;
}

.footer__social-item {
  margin-bottom: 20px;
}

.footer__social-link {
  display: inline-block;
  padding-left: 10px;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: color .2s ease;
}

.footer__social-link svg {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
  transition: fill .2s ease;
}

.footer__social-link:hover {
  color: #24ABE0;
}

.footer__social-link:hover svg {
  fill: #24ABE0;
}

/* Nav */
/* Stat */
/* Cards */
/* Footer */
/* Header */
/* Nav */
/* Intro */
/* Btn */
/* Burger */
/* Action */
/* Stat */
/* Cards */
/* Advantages */
/* Reviews */
@media (max-width: 576px) {
  /* Section */
  .section {
    padding: 40px 0 20px;
  }
  /* Header */
  .header__logo {
    font-size: 25px;
  }
  /* Sidebar */
  .sidebar-menu__list {
    width: 250px;
  }
  .sidebar-menu__link {
    font-size: 15px;
  }
  .sidebar-menu__item {
    margin-bottom: 15px;
  }
  /* Intro */
  .intro__title {
    margin-bottom: 10px;
  }
  .intro__suptitle {
    margin-bottom: 0;
  }
  .intro__inner {
    top: 50%;
  }
  /* Nav */
  #nav-icon {
    right: 10px;
  }
  /* Stat */
  .stat__count {
    font-size: 50px;
  }
  /* Advantages */
  .advantages {
    margin-top: 0;
  }
  .advantages__item {
    margin-top: 30px;
    padding: 0;
  }
  .advantages__photo {
    margin-right: 10px;
  }
  .advantages__text {
    overflow-wrap: anywhere;
  }
  .advantages__text:before {
    margin: 8px 0;
  }
  /* Slick slider */
  .reviews .slick-slider {
    padding: 0;
  }
  .reviews .slick-slider .slick-arrow {
    top: 18%;
  }
  /* Footer */
  .footer {
    padding-top: 40px;
  }
}

@media only screen and (max-device-width: 992px) and (orientation: landscape) {
  .intro__inner {
    top: 43%;
  }
  .nav {
    display: none;
  }
  #nav-icon {
    display: block;
  }
  .sidebar-menu__list {
    padding: 10px 10px 0 20px;
  }
  .sidebar-menu__item {
    margin-bottom: 10px;
  }
  .sidebar-menu__link {
    font-size: 15px;
  }
  p.sidebar-menu__link {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */