.advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 70px;

    @include breakpoint($mobile-bp) {
        margin-top: 0;
    }
}

.advantages__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;

    @include breakpoint($tablet-sm-bp) {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 0;
        padding: 20px;
    }

    @include breakpoint($mobile-bp) {
        margin-top: 30px;
        padding: 0;
    }
}

.advantages__photo {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;

    @include breakpoint($tablet-sm-bp) {
        position: static;
        margin-right: 20px;
    }

    @include breakpoint($mobile-bp) {
        margin-right: 10px;
    }
}

.clients__prof {
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
 }

.advantages__text {
    font-size: 16px;

    @include breakpoint($mobile-bp) {
        overflow-wrap: anywhere;
    }
 }

 .advantages__text:before {
     content: "";
     display: block;
     width: 60px;
     height: 3px;
     margin: 15px 0;

     background-color: $main-color;

     @include breakpoint($mobile-bp) {
        margin: 8px 0;
    }
 }