.footer {
    padding-top: 50px;
    background-color: #fff;
    scroll-margin-top: 30px;
}

.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
    padding-bottom: 65px;

    @include breakpoint($tablet-bp) {
        padding-bottom: 20px;
    }
}

.footer__col {
    padding: 0 15px;
}

.footer__col-info {
    width: 60%;

    @include breakpoint($tablet-bp) {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
}

.footer__col-instagram {
    text-align: center;
    width: 40%;

    @include breakpoint($tablet-bp) {
        width: 100%;
        text-align: center;
    }
}

.footer__logo {
    color: #ccc;
    font-size: 46px;
    font-weight: 700;

    margin-bottom: 30px;
}

.footer__text {
    margin-bottom: 30px;

    font-size: 18px;
    color: #333;
}

.footer__title {
    margin: 30px 0;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}

.footer__social-list {
    list-style: none;
    padding-left: 0;
 }

.footer__social-item {
    margin-bottom: 20px;
 }

.footer__social-link {
    display: inline-block;
    padding-left: 10px;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: color .2s ease; 

    & svg {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: text-top;
        transition: fill .2s ease; 
    }
}

.footer__social-link:hover {
    color: $main-color;

    & svg {
        fill: $main-color;
    }
}