// @media (max-width: 992px) {



    /* Nav */

    // .nav {
    //     font-size: 14px;
    // }

    // .nav__link {
    //     margin: 0 5px;
    // }

    /* Stat */

    // .stat__item {
    //     padding: 70px 5px;
    // }

    /* Cards */

    // .cards__item {
    //     width: 48%;
    // }

    /* Footer */

    // .footer__inner {
    //     padding-bottom: 20px;
    // }

//     .footer__col-info {
//         margin-bottom: 20px;
//         text-align: center;
//         width: 100%;
//     }

//     .footer__col-instagram {
//         width: 100%;
//         text-align: center;
//     }

// }

// @media (max-width: 768px) {

    /* Header */

    // .header {
    //     padding-top: 0;
    // }

    // .header__logo {
    //     text-shadow: 0 0 12px rgba(0,0,0,0.3), 0 2px 6px rgba(0,0,0,0.3);
    // }

    /* Nav */

    // .nav {
    //     display: none;
    // }

    /* Intro */

    // .intro {
    //     background-color: transparent;
    // }

    // .intro__inner {
    //     position: absolute;
    //     top: 41%;
    // }

    // .intro__title {
    //     font-size: 60px;
    //     text-shadow: 0 0 12px rgba(0,0,0,0.3), 0 2px 6px rgba(0,0,0,0.3);
    // }

    // .intro__suptitle {
    //     font-size: 34px;
    //     text-shadow: 0 0 12px rgba(0,0,0,0.3), 0 2px 6px rgba(0,0,0,0.3);
    // }

    // .intro__slider-item {
    //     background-position-x: 80%;
    // }

    // .intro__footer {
    //     display: none;
    // }

    // .intro__slider {
    //     height: 100%;
    // }

    /* Btn */

    // .btn {
    //     -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.1), 0 2px 6px rgba(0,0,0,0.1);
    //             box-shadow: 0 0 12px rgba(0,0,0,0.1), 0 2px 6px rgba(0,0,0,0.1);
    // }

    /* Burger */



    /* Action */

    // .action__item {
    //     width: 48%;
    // }

    /* Stat */

    // .stat__item {
    //     width: 50%;
    // }

    /* Cards */

    // .cards__item {
    //     width: 98%;
    // }

    /* Advantages */

    // .advantages__item {
    //     width: 100%;
    //     display: -webkit-box;
    //     display: -ms-flexbox;
    //     display: flex;
    //     margin-bottom: 0;
    //     padding: 20px;
    // }

    // .advantages__photo {
    //     position: static;
    //     margin-right: 20px;
    // }

    /* Reviews */

    // .reviews .slick-slider {
    //     padding: 0px 40px;
    // }

    // .reviews__photo {
    //     margin: 0 auto;
    //     position: static;
    // }

//     .reviews__item { 
//         padding-left: 0;
//     }

//     .reviews__text {
//         font-size: 16px;
//     }

//     .reviews__author {
//         font-size: 20px;
//     }

// }

@media (max-width: 576px) {

    /* Section */

    .section {
        padding: 40px 0 20px;
    }

    /* Header */

    .header__logo {
        font-size: 25px;
    }

    /* Sidebar */

    .sidebar-menu__list {
        width: 250px;
    }

    .sidebar-menu__link {
        font-size: 15px;
    }

    .sidebar-menu__item {
        margin-bottom: 15px;
    }

    /* Intro */

    .intro__title {
        margin-bottom: 10px;
    }

    .intro__suptitle {
        margin-bottom: 0;
    }

    .intro__inner {
        top: 50%;
    }

    /* Nav */

    #nav-icon {
        right: 10px;
    }

    /* Stat */

    .stat__count {
        font-size: 50px;
    }

    /* Advantages */

    .advantages {
        margin-top: 0;
    }

    .advantages__item {
        margin-top: 30px;
        padding: 0;
    }

    .advantages__photo {
        margin-right: 10px;
    }

    .advantages__text {
        overflow-wrap: anywhere;
    }

    .advantages__text:before {
        margin: 8px 0;
    }

    /* Slick slider */

    .reviews .slick-slider {
        padding: 0;
    }

    .reviews .slick-slider .slick-arrow {
        top: 18%;
    }

    /* Footer */

    .footer {
        padding-top: 40px;
    }

}

@media only screen and (max-device-width: 992px) and (orientation: landscape) {

    .intro__inner {
        top: 43%;
    }

    .nav {
        display: none;
    }

    #nav-icon {
        display: block;
    }

    .sidebar-menu__list {
        padding: 10px 10px 0 20px;
    }

    .sidebar-menu__item {
        margin-bottom: 10px;
    }

    .sidebar-menu__link {
        font-size: 15px;
    }

    p.sidebar-menu__link {
        display: none;
    }

}