.reviews {
    position: relative;

    .slick-slider  {
        padding: 0 110px;
    
        @include breakpoint($tablet-sm-bp) {
            padding: 0px 40px;
        }
    
        @include breakpoint($mobile-bp) {
            padding: 0;
        }

        .slick-arrow {
            @include breakpoint($mobile-bp) {
                top: 18%;
            }            
        }
    }
}

.reviews .slick-prev {
    background: url("../img/arrows/chevron-left-solid-black.svg") 0 0 / 100% no-repeat;
}

.reviews .slick-next {
    background: url("../img/arrows/chevron-right-solid-black.svg") 0 0 / 100% no-repeat;
}

.reviews__item {
    padding-left: 250px;
    position: relative;

    @include breakpoint($tablet-sm-bp) {
        padding-left: 0;
    }
}

.reviews__photo {
    display: block;
    position: absolute;
    width: 210px;
    height: 210px;

    border: 2px solid $main-color;
    border-radius: 50%;
    
    top: 0;
    left: 0;
    z-index: 1;
    -o-object-fit: cover;
       object-fit: cover;

    @include breakpoint($tablet-sm-bp) {
        margin: 0 auto;
        position: static;
    }
}

.reviews__inner {
    position: relative;
    min-height: 210px;
}

.reviews__text {
    margin-bottom: 15px;

    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    color: #333;

    @include breakpoint($tablet-sm-bp) {
        font-size: 16px;
    }
}

.reviews__author {
    @include breakpoint($tablet-sm-bp) {
        font-size: 20px;
    }
}

.smile {
    font-style: normal;
}

