.section {
    padding: 80px 0;
    scroll-margin-top: 30px; 
    
    @include breakpoint($mobile-bp) {
        padding: 40px 0 20px;
    }  
} 

.section-img {
    background-image: url(../img/bg/bg-baloons.jpg);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.section-grey {
    background-color: #f5f5f5;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
 }

.section__suptitle {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
 }

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: $main-color;
}

.section__text {
    color:#999;
    font-size: 15px;
}